@import 'assets/color-palette.scss';

.custom-button {
	min-width: 120px;
	width: auto;
	height: 50px;
	letter-spacing: 0.5px;
	line-height: 50px;
	padding: 0 20px 0 20px;
	font-size: 15px;
	background-color: $MainColor;
	color: $MainBgColor;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed';
	font-weight: bolder;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;

	&:hover {
		background-color: $MainBgColor;
		color: $MainColor;
		border: 1px solid $MainColor;
	}

	&.google-sign-in {
		background-color: $GoogleBlue;
		color: $MainBgColor;

		&:hover {
			background-color: $GoogleBlueHov;
			// border: none;
		}
	}

	&.inverted {
		background-color: $MainBgColor;
		color: $MainColor;
		border: 2px solid $MainColor;

		&:hover {
			background-color: $MainColor;
			color: $MainBgColor;
			border: none;
		}
	}
}
