@import 'assets/color-palette.scss';
.error-page {
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;

	.error-title {
		font-size: 38px;
		margin: 0 auto 50px;
	}

	.error-message {
		display: flex;
		flex-direction: column;
		align-items: center;

		.error-detail {
			font-size: 26px;
		}
	}
	.error-link {
		min-width: 120px;
		width: auto;
		height: 50px;
		letter-spacing: 0.5px;
		line-height: 50px;
		padding: 0 20px 0 20px;
		font-size: 30px;
		background-color: $MainColor;
		color: $MainBgColor;
		text-transform: uppercase;
		font-family: 'Open Sans Condensed';
		font-weight: bolder;
		border: none;
		cursor: pointer;
		display: flex;
		justify-content: center;
		margin-top: 50px;

		&:hover {
			background-color: $MainBgColor;
			color: $MainColor;
			border: 1px solid $MainColor;
		}
	}
}
