body {
	font-family: 'Open Sans Condensed';
	padding: 20px 60px;
}

a {
	text-decoration: none;
	color: black;

	&:focus,
	&:hover,
	&:active {
		color: white;
		background-color: black;
		border: blue;
		text-decoration: underline;
	}
}
