$MainBgColor: white;
$MainColor: black;
$VFOutline: #66afe9;

/*
	Accessibility related classes
*/

@mixin visualFocus {
	&:focus,
	&:hover,
	&:active {
		outline: 2px solid $VFOutline !important;
		outline-offset: -2px !important;
		border: 2px solid $MainBgColor !important;
		box-shadow: inset 0 0 0 2px $MainBgColor !important;
		opacity: 1;
	}
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important; /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important; /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links 
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable {
	&:focus,
	&:active {
		clip: auto !important;
		-webkit-clip-path: none !important;
		clip-path: none !important;
		height: auto !important;
		margin: auto !important;
		overflow: visible !important;
		width: auto !important;
		white-space: normal !important;
	}
}

/*
	Regular Classes
*/

body {
	font-family: 'Open Sans Condensed';
	padding: 20px 60px;
}

a {
	text-decoration: none;
	color: $MainColor;
	@include visualFocus();
}

input,
button,
.link {
	@include visualFocus();
}

* {
	box-sizing: border-box;
}
