$visualFocusBackGround: black;
$visualFocusColor: white;

body {
	font-family: 'Open Sans Condensed';
	padding: 20px 60px;
}

@mixin visualFocus {
	&:focus,
	&:hover,
	&:active {
		outline: 2px solid #66afe9 !important;
		outline-offset: -2px !important;
		border: 2px solid #fff !important;
		box-shadow: inset 0 0 0 2px #fff !important;
		opacity: 1;
	}
}

a {
	text-decoration: none;
	color: black;
	@include visualFocus();
}

input,
button,
.link {
	@include visualFocus();
}

* {
	box-sizing: border-box;
}
